<!--
  Generated template for the FormAddressPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="header-cs">
    <ion-title>เพิ่มที่อยู่ใหม่</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="dismiss()">
        <ion-icon name="ios-close-circle-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="forms-validations-content">
  <form class="sample-form validations-form" [formGroup]="address" (ngSubmit)="saveAddress(address.value)">
    <section class="form-section">
      <div class="header-address">
        <ion-item-divider color="light">ชื่อผู้รับ</ion-item-divider>
      </div>
      <div padding-left>
        <ion-item>
          <ion-label floating>ชื่อ</ion-label>
          <ion-input type="text" formControlName="firstname" class="form-controll" name="Firstname" required></ion-input>
        </ion-item>
        <!-- <ion-searchbar type="text" formControlName="firstname" name="Firstname" placeholder="ชื่อ" required></ion-searchbar> -->
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.firstname">
            <div class="error-message" *ngIf="address.get('firstname').hasError(validation.type) && (address.get('firstname').dirty || address.get('firstname').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </div>

      <div padding-left>
        <ion-item>
          <ion-label floating>นามสกุล</ion-label>
          <ion-input type="text" formControlName="lastname" class="form-controll" name="Lastname" required></ion-input>
        </ion-item>
        <!-- <ion-searchbar type="text" formControlName="lastname" name="Lastname" placeholder="นามสกุล" required></ion-searchbar> -->
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.lastname">
            <div class="error-message" *ngIf="address.get('lastname').hasError(validation.type) && (address.get('lastname').dirty || address.get('lastname').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </div>

      <div class="header-address">
        <ion-item-divider color="light">ค้นหาที่อยู่ด้วยรหัสไปร์ษณีย์</ion-item-divider>
      </div>
      <div class="div-postcode">
        <ng-template #withFlags let-attrs="attrs">
          <span>{{ attrs.data.postcode }} {{ attrs.data.subdistrict }} {{ attrs.data.district }} {{ attrs.data.province }} </span>
        </ng-template>
        <ion-auto-complete formControlName="postcode" (ionAutoInput)="autoInput($event)" (itemSelected)="selectPostcode($event)"
          [template]="withFlags" [dataProvider]="postcodeProvider" [options]="{ placeholder : 'รหัสไปร์ษณีย์'}" #searchbar></ion-auto-complete>

        <!-- <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.postcode">
            <div class="error-message" *ngIf="address.get('postcode').hasError(validation.type) && (address.get('postcode').dirty || address.get('postcode').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div> -->
      </div>

      <div class="header-address">
        <ion-item-divider color="light">ข้อมูลติดต่อ</ion-item-divider>
      </div>
      <div padding-left>
        <ion-item *ngIf="false">
          <ion-label floating>รหัสไปร์ษณีย์</ion-label>
          <ion-input type="text" value="{{postcode ? postcode.postcode : ''}}" formControlName="postcode" class="form-controll" name="postcode"
            required></ion-input>
        </ion-item>
      </div>

      <div padding-left>
        <ion-item>
          <ion-label floating>ตำบล / แขวง</ion-label>
          <ion-input type="text" value="{{postcode ? postcode.subdistrict : ''}}" formControlName="subdistrict" class="form-controll"
            name="subdistrict" required></ion-input>
        </ion-item>
        <!-- <ion-searchbar type="text" [(ngModel)]="postcode.subdistrict" formControlName="subdistrict" name="subdistrict" placeholder="ตำบล / แขวง"
        required></ion-searchbar> -->
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.subdistrict">
            <div class="error-message" *ngIf="address.get('subdistrict').hasError(validation.type) && (address.get('subdistrict').dirty || address.get('subdistrict').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </div>

      <div padding-left>
        <ion-item>
          <ion-label floating>อำเภอ / เขต</ion-label>
          <ion-input type="text" value="{{postcode ? postcode.district : ''}}" formControlName="district" class="form-controll" required
            name="district" required></ion-input>
        </ion-item>
        <!-- <ion-searchbar type="text" [(ngModel)]="postcode.district" formControlName="district" name="district" placeholder="อำเภอ / เขต"
        required></ion-searchbar> -->
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.district">
            <div class="error-message" *ngIf="address.get('district').hasError(validation.type) && (address.get('district').dirty || address.get('district').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </div>

      <div padding-left>
        <ion-item>
          <ion-label floating>จังหวัด</ion-label>
          <ion-input type="text" value="{{postcode ? postcode.province : ''}}" formControlName="province" class="form-controll" name="province"
            required></ion-input>
        </ion-item>
        <!-- <ion-searchbar type="text" [(ngModel)]="postcode.province" formControlName="province" name="province" placeholder="จังหวัด"
      required></ion-searchbar> -->
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.tel">
            <div class="error-message" *ngIf="address.get('province').hasError(validation.type) && (address.get('province').dirty || address.get('province').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </div>

      <div padding-left>
        <ion-item>
          <ion-label floating>ที่อยู่</ion-label>
          <ion-input type="text" formControlName="address" class="form-controll" required name="address" required></ion-input>
        </ion-item>
        <!-- <ion-searchbar type="text" formControlName="address" name="address" placeholder="ที่อยู่"></ion-searchbar> -->
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.address">
            <div class="error-message" *ngIf="address.get('address').hasError(validation.type) && (address.get('address').dirty || address.get('address').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </div>

      <div padding-left padding-bottom>
        <ion-item>
          <ion-label floating>เบอร์โทร</ion-label>
          <ion-input type="text" formControlName="tel" class="form-controll" required name="tel" required></ion-input>
        </ion-item>
        <!-- <ion-searchbar type="text" formControlName="tel" name="tel" placeholder="เบอร์โทร"></ion-searchbar> -->
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.tel">
            <div class="error-message" *ngIf="address.get('tel').hasError(validation.type) && (address.get('tel').dirty || address.get('tel').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </div>

    </section>
    <button ion-button round full color="submit" type="submit">บันทึก</button>
  </form>
</ion-content>
