page-form-address {
    img {
        object-fit: cover !important;
    }
    .button-ios {
        border-radius: 4px;
        height: 2.8em;
        font-size: 1.6rem;
        color: #fff;
        background-color: #5c926e;
        /* background-color: #488aff; */
        margin: 0.4rem 0.2rem;
        padding: 0 1em;
    }
    .validation-errors {
        .error-message {
            color: color($colors, danger);
            font-size: 12px;
            font-weight: 500;
            line-height: 1.6rem;
            position: relative;
            padding-left: 22px;
            margin-bottom: 10px;
            &:first-child {
                margin-top: 10px;
            }
            &::before {
                font-family: "Ionicons";
                content: "\f19f";
                font-size: 18px;
                width: 16px;
                height: 16px;
                text-align: center;
                position: absolute;
                left: 0px;
            }
        }
    }
    .searchbar {
        margin-top: 14px !important;
        margin-bottom: 2px !important;
    }
    .item-md {
        padding-left: 0px !important;
    }
    .div-postcode {
        margin-top: 6px;
        padding: 6px !important;
    }
    .searchbar-search-icon {
        background-image: none !important;
    }
    .searchbar-input {
        padding-left: 20px !important;
    }
    .searchbar-ios {
        background: inherit;
        padding: 20px;
    }
    .searchbar-ios .searchbar-search-icon {
        left: 16px;
        top: 11px;
        background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20512%20512'><path%20fill='%235b5b5b'%20d='M337.509,305.372h-17.501l-6.571-5.486c20.791-25.232,33.922-57.054,33.922-93.257C347.358,127.632,283.896,64,205.135,64C127.452,64,64,127.632,64,206.629s63.452,142.628,142.225,142.628c35.011,0,67.831-13.167,92.991-34.008l6.561,5.487v17.551L415.18,448L448,415.086L337.509,305.372z%20M206.225,305.372c-54.702,0-98.463-43.887-98.463-98.743c0-54.858,43.761-98.742,98.463-98.742c54.7,0,98.462,43.884,98.462,98.742C304.687,261.485,260.925,305.372,206.225,305.372z'/></svg>");
        width: 21px;
        height: 21px;
    }
    .searchbar-ios .searchbar-ios-cancel {
        left: 10px;
        top: 0;
        margin: 0;
        display: none;
        width: 21px;
        height: 100%;
    }
    .searchbar-ios .searchbar-search-icon,
    .searchbar-ios .searchbar-ios-cancel {
        position: absolute;
        background-repeat: no-repeat;
        background-size: 20px;
    }
    .searchbar-ios .searchbar-search-icon.activated,
    .searchbar-ios .searchbar-ios-cancel.activated {
        background-color: transparent;
    }
    .searchbar-ios .searchbar-input {
        padding: 6px 55px;
        border-radius: 2px;
        background-position: left 8px center;
        height: auto;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 3rem;
        color: #141414;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    .searchbar-ios .searchbar-input::-moz-placeholder {
        color: #aeaeae;
    }
    .searchbar-ios .searchbar-input:-ms-input-placeholder {
        color: #aeaeae;
    }
    .searchbar-ios .searchbar-input::-webkit-input-placeholder {
        text-indent: 0;
        color: #aeaeae;
    }
    .searchbar-clear-icon {
        background-image: none !important;
        visibility: hidden !important;
    }
    .searchbar-ios .searchbar-clear-icon.activated {
        background-color: transparent;
    }
    .searchbar-ios.searchbar-has-focus.searchbar-show-cancel .searchbar-search-icon {
        display: none;
    }
    .searchbar-ios.searchbar-has-focus.searchbar-show-cancel .searchbar-ios-cancel {
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
    }
    .header-address {
        margin-top: 6px !important;
    }
    .item-divider-md {
        border-bottom: none !important;
        .item-inner {
            margin-left: 16px !important;
        }
    }
    ion-auto-complete {
        width: 100% !important;
        margin-right: 6px !important;
    }
    ion-auto-complete ul {
        position: inherit !important;
    }
}