page-form-address {
    img {
        object-fit: cover !important;
    }
    .button-ios {
        border-radius: 4px;
        height: 2.8em;
        font-size: 1.6rem;
        color: #fff;
        background-color: #5c926e;
        /* background-color: #488aff; */
        margin: 0.4rem 0.2rem;
        padding: 0 1em;
    }

    .validation-errors
      {
        .error-message
        {
          color: color($colors, danger);
          font-size: 12px;
        	font-weight: 500;
          line-height: 1.6rem;
          position: relative;
          padding-left: 22px;
          margin-bottom: 10px;

          &:first-child
          {
            margin-top: 10px;
          }

          &::before
          {
            font-family: "Ionicons";
            content: "\f19f";
            font-size: 18px;
            width: 16px;
            height: 16px;
            text-align: center;
            position: absolute;
            left: 0px;
          }
        }
      }
}